@charset "UTF-8";
body{
    background-color: rgb(205,255,203);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: rgb(4,109,0);
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: rgb(6, 121, 0);
}
.basico{
    color: green;
}
.intermediario{
    color: rgb(17, 179, 17);
}
.avancado{
    color: rgb(36, 233, 36);
}
.destaque{
    background-color: rgb(251, 255, 9);
}
p{
    text-align: justify;
}